<h2>About greyhypotheses</h2>
<p>The pages of greyhypotheses.github.io outline ... in progress</p>

<h2>Of Interest</h2>
<ul>
  <li><a href="https://timharford.com/articles/cautionarytales/">Cautionary Tales</a></li>
  <li><a href="https://oll.libertyfund.org">Online Library of Liberty</a></li>
  <li><a href="https://www.theguardian.com/world/series/the-upside">The Upside</a></li>
  <li><a href="https://www.bloomberg.com/stephanomics">Stephanomics</a></li>
  <li><a href="https://www.thelastarchive.com">The Last Archive</a></li>
  <li><a href="https://weaponsofmathdestructionbook.com">Weapons of Math Destruction</a>, and its author's <a
      href="https://mathbabe.org">blog</a></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>