

/* Lists
   ========================================================================== */

li {
    margin-top:1px;
    margin-bottom:1px;
    padding-top: 1px;
    padding-bottom:1px;
}

ul {
    margin-top:-5px;
    margin-bottom:1px;
    padding-top: 0px;
    padding-bottom:1px;
}

dl {
    display: block;
    margin-left: 10px;
}
dt {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}
dd {
    display: block;
    margin-left: 25px;
    margin-top: 0;
}
